.intro {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #295aa3;
  padding: 4em 0;
  margin-top: 2em;
  h3 {
    font-size: 54px;
    font-weight: 300;
    margin: 1em 0 0 0;
  }
  p {
    margin-bottom: 3em;
  }
  h3, span, p {
    color: white;
    font-family: Roboto, Arial, Helvetica, sans-serif;
  }
}

.feature {
  display: flex;
  height: 200px;
  width: 700px;
  margin: 7em auto;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  div {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin: 0 2em;
    img {
      height: 200px;
      width: 200px;
    }
    h1, span {
      font-family: Roboto, Arial, Helvetica, sans-serif;
      color: rgba(0,0,0,.54);
    }
    h1 {
      font-weight: 400;
    }
  }
}
