<div class="intro">
  <h3>Angular pets</h3>
  <p>Angular developer's pets</p>
  <button mat-raised-button routerLink="/pets">Open app</button>
</div>

<div class="feature">
  <div>
    <img src="assets/images/cat.svg">
  </div>
  <div>
    <h1>Share your pet</h1>
    <span>¿ Do you want to make your pet popular among other developers ?</span>
    <span>Now you can do it.</span>
  </div>
</div>

<div class="feature">
  <div>
    <h1>Vote others pets</h1>
    <span>You can select and vote your favourite pets</span>
    <span>but dont forget to make yours the most voted</span>
  </div>
  <div>
    <img src="assets/images/dog.svg">
  </div>
</div>